<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <div class="intro">
    <header>
      <h1>Empower Your Investment Journey</h1>
      <p>Welcome to Hippoputamos, where financial empowerment meets investment excellence.</p>
      <p>Whether you're a seasoned investor or just starting out, we're here to guide you through the maze of market volatility with confidence and expertise.</p>
      <p>Join us and discover how you can turn market unpredictability into opportunity.</p>
    </header>
  </div>
  <div class="sections1">
    <div class="section center">
      <img class="img" src="../assets/hippo.jpeg">
    </div>
    <div class="section" onclick="toggleSection(this)">
      <section>
        <h2>Free Membership</h2>
        <p>Join our community of investors and gain access to our exclusive resources and tools.</p>
        <p>Our free membership includes:</p>
        <ul>
          <li>Weekly market updates</li>
          <li>Investment guides</li>
          <li>Financial planning tools</li>
        </ul>
        <button>Sign Up</button>
      </section> 
  <hr class="hr">
      <section>
        <h2>Premium Membership</h2>
        <p>Upgrade to our premium membership and unlock a world of investment opportunities.</p>
        <p>Our premium membership includes:</p>
        <ul>
          <li>Personalized investment advice</li>
          <li>Access to our expert analysts</li>
          <li>Exclusive investment opportunities</li>
        </ul>
        <button>Sign Up</button>  
      </section>
  <hr class="hr">

      <section>
        <h2>Investment Courses</h2>
        <p>Enroll in our investment courses and learn how to navigate the financial markets with confidence.</p>
        <p>Our courses include:</p>
        <ul>
          <li>Stock market fundamentals</li>
          <li>Options trading strategies</li>
          <li>Real estate investing</li>
        </ul>
        <button>Sign Up</button>    
      </section>
      <hr class="hr">
      <section>
        <h2>Technical Analysis Courses</h2>
        <p>Master the art of technical analysis and take your trading skills to the next level.</p>
        <p>Our courses include:</p>
        <ul>
          <li>Chart patterns</li>
          <li>Technical indicators</li>
          <li>Candlestick analysis</li>
        </ul>
        <button>Sign Up</button>
      </section>
    </div>
        </div>


</body>
</html>